<ng-form name="myForm" ng-controller="FormsController" class="my-form">
   userType: <input name="input" ng-model="userType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    userType = {{userType}}<br>


    myForm.$pristine={{myForm.$pristine}}<br>
    myForm.$dirty={{myForm.$dirty}}<br>
    myForm.$valid = {{myForm.$valid}}<br>
    myForm.$invalid = {{myForm.$invalid}}<br>
    myForm.$submitted = {{myForm.$submitted}}<br>

    myForm.input.$valid = {{myForm.input.$valid}}<br>
    myForm.input.$error = {{myForm.input.$error}}<br>
    myForm.$valid = {{myForm.$valid}}<br>
    myForm.$error.required = {{!!myForm.$error.required}}<br>
    myForm.$error = {{myForm.$error}}<br>

    <div ng-if="myForm.$valid"> <button class="validata" ng-click="Submit()" >Submit</button></div>

</ng-form>
